In [1]:
#1. Abs():The abs() function returns the absolute value of the given number. 
#If the number is a complex number, abs() returns its magnitude.

num=-20
print("int:",abs(num))

num1=-30.00
print("float:",abs(num1))

int: 20
float: 30.0

In [2]:
#2. Len():The len() function returns the number of items (length) in an object.

list=["apple", "sony", "realme", "oneplus"]
print("List: ",list)
print("List length:",len(list))

print("***********************************")

tupple=("apple", "sony", "realme", "oneplus", "Matrola")
print("Tupple: ",(tupple))
print("Tupple length:",len(tupple))

List:  ['apple', 'sony', 'realme', 'oneplus']
List length: 4
***********************************
Tupple:  ('apple', 'sony', 'realme', 'oneplus', 'Matrola')
Tupple length: 5

In [3]:
#3. Min():The min() function returns the smallest item in an iterable. 
#It can also be used to find the smallest item between two or more parameters.

list=[11,-3,5,7,3,2,7]
print("Minimum number in the list:",min(list))

Minimum number in the list: -3

In [4]:
#4. Round():Python round() function float point number from the decimal value to
#the closest multiple of 10. The int value to the closest multiple of 10 to the 
#power minus ndigits, where ndigits is the precision after the decimal point. 
#If two multiples are equally close, rounding is done toward the even choice.

print(round(23.5))
print(round(26.7))
print(round(93.5))
print(round(13.9))

24
27
94
14

In [5]:
#Isalnum():The isalnum() method returns True if all characters in the string are
#alphanumeric (either alphabets or numbers). If not, it returns False.

s="Error101" #True
print(s.isalnum())
s1="Blue eyes 143"  #False #this string contain space
print(s1.isalnum())

True
False

In [6]:
#type():The type() function is used to get the type of an object. When a single 
#argument is passed to the type() function, it returns the type of the object. 
#Its value is the same as the object.

n1=-30
n2=30.04
a='hello'
l=[1,2,4]
t=("apple", "sony", "realme", "oneplus", "Matrola")
print(type(n1))
print(type(2))
print(type(s))
print(type(l))
print(type(t))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'list'>
<class 'tuple'>